{{ define "main" }}

{{ if eq .RelPermalink "/categories/"}}
{{ range $.Site.Taxonomies.categories.ByCount }}
<a href="/categories/{{ .Name }}">
  # {{ .Name }} <small>({{.Count}})</small>
</a>
{{ end }}
{{ else }}
<div class="list">
    {{ range sort .Pages "Date" "desc"}}
      <div class="listItem">
          <div class="listItemTexts">
            <h1 class="listItemTitle">
              <!-- {{ if .Params.image }}
              <div class="image-tooltip-container">
                <div class="image-circle-container">
                  <div class="image-circle" style="background-image: url('{{ .Params.image }}');"></div>
                </div>
                <div class="image-tooltip">
                  <div class="tooltip-inner">
                    <div class="tooltip-image" style="background-image: url('{{ .Params.image }}');"></div>
                  </div>
                </div>
              </div>
            {{ end }} -->
                <a href="{{.Permalink}}" class="hoverlink">{{.Title}}</a>
            </h1>
            {{ if eq .Type "daily-drop"}} 
            {{ else }}
            <a class="listItemDesc" href="{{.Permalink}}"> <time><em>{{ dateFormat .Site.Params.dateFormat .Date}}</em></time>  || {{.Params.description}} </a>
            {{ end }}
        </div>
      </div>
    {{ end }} 
</div>
{{ end }}
{{ end }}
