{{ define "main" }}

{{ if eq .RelPermalink "/categories/"}}
{{ range $.Site.Taxonomies.categories.ByCount }}
<a href="/categories/{{ .Name }}">
  # {{ .Name }} <small>({{.Count}})</small>
</a>
{{ end }}
{{ else }}
<div class="list">
  <!-- <div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div> -->
    {{ range .Pages}}
      <div class="listItem">
          <div class="listItemTexts">
            <h1 class="listItemTitle">
              {{ if .Params.image }}
                <div class="image-tooltip-container">
                  <div class="image-circle" style="background-image: url('{{ .Params.image }}');"></div>
                  <!-- <div class="image-tooltip" style="background-image: url('{{ .Params.image }}');"></div> -->
                </div>
              {{ end }}
                <a href="{{.Permalink}}" class="hoverlink">{{.Title}}</a>
            </h1>
            <a class="listItemDesc" href="{{.Permalink}}"> <time><em>{{ dateFormat .Site.Params.dateFormat .Date}}</em></time>  || {{.Params.description}} </a>
        </div>
      </div>
    {{ end }} 
    <!-- {{ template "_internal/pagination.html" . }} -->
</div>
{{ end }}
{{ end }}
