<!DOCTYPE html>
<!-- GoatCounter -->
<script data-goatcounter="https://paulstapel.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tsparticles/preset-stars@3/tsparticles.preset.stars.bundle.min.js"></script>


<html lang="en">
<head>
    <title>{{ if .Title }}{{ .Title }} | {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
    <!-- Don't display breadcrumbs, just use for SEO.  -->
    <nav aria-label="Breadcrumb" style="display:none"> 
        <ol class="breadcrumb">
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            {{ $sections := .CurrentSection.Sections }}
            {{ with .CurrentSection }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
            <li aria-current="page">{{ .Title }}</li>
        </ol>
    </nav>
    <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta charset="UTF-8">
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ with .Params.featuredImage }}{{ . }}{{ else }}https://paulstapel.com/favicons/favicon-196x196.png{{ end }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta name="twitter:image" content="{{ with .Params.featuredImage }}{{ . }}{{ else }}https://paulstapel.com/favicons/favicon-196x196.png{{ end }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/syntax.css">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Lato" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </noscript>


    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ .Title }}",
        "description": "{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}",
        "image": "{{ with .Params.featuredImage }}{{ . }}{{ else }}https://paulstapel.com/favicons/favicon-196x196.png{{ end }}",
        "author": {
            "@type": "Person",
            "name": "Paul Stapel"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Paul Stapel",
            "logo": {
            "@type": "ImageObject",
            "url": "https://paulstapel.com/favicons/favicon-196x196.png"
            }
        },
        "datePublished": "{{ .Date.Format "2006-01-02" }}",
        "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Permalink }}"
        },
        "articleSection": [
            {{ range $i, $cat := .GetTerms "categories" }}{{ if $i }}, {{ end }}"{{ $cat.Name }}"{{ end }}
        ]
    }
    </script>

    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="robots" content="index, follow">


    {{ if .Params.math }}{{ partialCached "helpers/katex.html" . }}{{ end }}

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "https://paulstapel.com/favicons/apple-touch-icon-57x57.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "https://paulstapel.com/favicons/apple-touch-icon-114x114.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "https://paulstapel.com/favicons/apple-touch-icon-72x72.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "https://paulstapel.com/favicons/apple-touch-icon-144x144.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ "https://paulstapel.com/favicons/apple-touch-icon-60x60.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "https://paulstapel.com/favicons/apple-touch-icon-120x120.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ "https://paulstapel.com/favicons/apple-touch-icon-76x76.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "https://paulstapel.com/favicons/apple-touch-icon-152x152.png"}}" />

    <!-- Favicon for Browsers -->
    <link rel="icon" type="image/png" href="{{ "https://paulstapel.com/favicons/favicon-196x196.png"}}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ "https://paulstapel.com/favicons/favicon-96x96.png"}}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ "https://paulstapel.com/favicons/favicon-32x32.png"}}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ "https://paulstapel.com/favicons/favicon-16x16.png"}}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ "https://paulstapel.com/favicons/favicon-128.png"}}" sizes="128x128" />

    <!-- Microsoft Tiles -->
    <meta name="application-name" content="Your Website Name" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ "https://paulstapel.com/favicons/mstile-144x144.png"}}" />
    <meta name="msapplication-square70x70logo" content="{{ "https://paulstapel.com/favicons/mstile-70x70.png"}}" />
    <meta name="msapplication-square150x150logo" content="{{ "https://paulstapel.com/favicons/mstile-150x150.png"}}" />
    <meta name="msapplication-wide310x150logo" content="{{ "https://paulstapel.com/favicons/mstile-310x150.png"}}" />
    <meta name="msapplication-square310x310logo" content="{{ "https://paulstapel.com/favicons/mstile-310x310.png"}}" />
    <style>
    body {
        font-family: 'Lato';
    }
    </style>
</head>
<body>
    <div class="container">
      {{ partial "navbar" . }}
      <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
      <script src="/js/app.js"> </script>
      {{ block "main" .}} {{ end }}
      {{ partial "footer" . }}
    </div>
</body>
</html>