{{ define "main" }}
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>

{{ if eq .RelPermalink "/categories/"}}
{{ range $.Site.Taxonomies.categories.ByCount }}
<a href="/categories/{{ .Name }}">
  # {{ .Name }} <small>({{.Count}})</small>
</a>
{{ end }}
{{ else }}
<div class="list">
  <!-- <div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div> -->
  <!-- </div> -->
    {{ range .Paginator.Pages}}
    {{ if not (in .Params.categories "recipe") }}
    {{ if not (in .Params.categories "meditation") }}
    {{ if not (in .Params.categories "review") }}
      <div class="listItem">
          <div class="listItemTexts">
            <h1 class="listItemTitle">
                <a href="{{.Permalink}}" class="hoverlink">{{.Title}}</a>
            </h1>
            <a class="listItemDesc" href="{{.Permalink}}"> <time><em>{{ dateFormat .Site.Params.dateFormat .Date}}</em></time>  || {{.Params.description}} </a>
        </div>
      </div>
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
    <!-- {{ template "_internal/pagination.html" . }} -->
</div>
{{ end }}
{{ end }}
