{{ define "main" }}
{{ if eq .RelPermalink "/categories/"}}
{{ range $.Site.Taxonomies.categories.ByCount }}
<a href="/categories/{{ .Name }}">
  # {{ .Name }} <small>({{.Count}})</small>
</a>
{{ end }}
{{ else }}
<div class="list">
    {{ range .Paginator.Pages}}
    {{ if not (in .Params.categories "recipe") }}
    {{ if not (in .Params.categories "about") }}
    {{ if not (in .Params.categories "setup") }}
      <div class="listItem">
          <div class="listItemTexts">
            <gh1 class="listItemTitle">
                <a href="{{.Permalink}}" class="hoverlink">{{.Title}}</a>
            </gh1>
            <a class="listItemDesc" href="{{.Permalink}}"> <time><em>{{ dateFormat .Site.Params.dateFormat .Date}}</em></time>  || {{.Params.description}} </a>
        </div>
      </div>
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
    <!-- {{ template "_internal/pagination.html" . }} -->
</div>
{{ end }}
{{ end }}
