{{ define "main"}}

{{ if .Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
{{ end }}

<div class="single">
   <div class="singleHead">
      <div class="singleHeadText">
        <h1 class="singleHeadTitle">{{.Title}}</h1> 
        <p class="singleHeadDesc">{{.Params.description}}</p>
        <time class="singleDate"><em>{{ dateFormat .Site.Params.dateFormat .Date }}</em></time>
        <div class="singleCategories">
            {{ range (.GetTerms "categories")}}
            <a class="singleCategory" href={{ .Permalink }}>{{ .Name}}</a> 
            {{end}}
        </div>
      </div>
   </div>
   <div class="singleBottom">
    {{ if .Params.ToC }}
      <div class="toc-container">
        <h2 class="toc-title">Table of Contents</h2>
        <div id="toc" class="toc"></div>
      </div>
    {{ end }}
    <div class="singleContent">{{.Content}}</div>
   </div>
</div>
{{ end }}
