<nav class="navbar">
  <div class="logo">
    {{ if in .RelPermalink "meditation"}}
    <a href="/categories/meditation" class="site-name hoverlink">Paul's Garden</a>
    {{ else if in .RelPermalink "recipe"}}
    <a href="/categories/recipe" class="site-name hoverlink">Paul's Kitchen</a>
    {{ else }}
    <a href="/" class="site-name hoverlink">Paul's Particles</a>
    {{ end }}
  </div>
    <div class="toggle">
      <svg
        width="20px"
        height="20px"
        viewBox="-0.14 0 20.03 20.03"
        fill="#000000"
      >
        <g id="moon-alt" transform="translate(-2.25 -2)">
          <path
            id="secondary"
            fill="#ffe01b"
            d="M21,12A9,9,0,0,1,3.25,14.13,6.9,6.9,0,0,0,8,16,7,7,0,0,0,11.61,3H12a9,9,0,0,1,9,9Z"
          ></path>
        </g>
      </svg>
      <div class="ball" ></div>
      <svg width="20px" height="20px" viewBox="0 0 20 20" fill="#000000">
        <g id="sun" transform="translate(-2 -2)">
          <circle
            id="secondary"
            fill="#ffe01b"
            cx="4"
            cy="4"
            r="4"
            transform="translate(8 8)"
          ></circle>
          <path
            id="primary"
            d="M12,3V4M5.64,5.64l.7.7M3,12H4m1.64,6.36.7-.7M12,21V20m6.36-1.64-.7-.7M21,12H20M18.36,5.64l-.7.7M12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Z"
            fill="none"
            stroke="#ffe01b"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          ></path>
        </g>
      </svg>
    </div >

    <div class="links">
    <a href="/" class="hoverlink">Homepage</a>
    <!-- <a href="/categories" class="hoverlink">Categories</a> -->
    <a href="/set-up/set-up" class="hoverlink">Setup</a>
    <a href="/about-me/about-me" class="hoverlink">About</a>
    <a href="/categories/meditation" class="hoverlink">Meditation</a>
    <a href="/categories/review" class="hoverlink">Reviews</a>
    <a href="/categories/recipe/" class="hoverlink">Recipes</a>
  </div>


  <header class="borgir"> 
  <input type="checkbox" id="menyAvPaa">
  <label id="burger" for="menyAvPaa">
      <div></div>
      <div></div>
      <div></div>
  </label>
<div id="meny">
  <div class="moblinks">
  <a href="/" class="hoverlink">Homepage</a>
  <!-- <a href="/categories" class="hoverlink">Categories</a> -->
  <a href="/set-up/set-up" class="hoverlink">Setup</a>
  <a href="/about-me/about-me" class="hoverlink">About</a>
  <a href="/categories/meditation" class="hoverlink">Meditation</a>
  <a href="/categories/review" class="hoverlink">Reviews</a>
  <a href="/categories/recipe/" class="hoverlink">Recipes</a>
</div>
</div>
</header>
</nav>